*{margin: 0px;
padding: 0;}

body{

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    min-height: 40vh;

}

header > h1 {
    padding-top: 60px ;
    font-size: 40px;
    
}

header > h3{
    padding: 10px;
}

h3 > a{
 
    color: white;
}

p{
    padding: 30px;
    font-size-adjust: 25px;
    
    
}

main > .parte1{
    margin-top: 10px;
    height: 400px;
    font-size: 2em;
    
}

.parte2{

    margin-top: 10px;
    height: 800px;
    font-size: 2em;

}

.parte3{
    margin-top: 10px;
    height: 800px;
    font-size: 2em;

}




main > .section1{
    background-image: url(imagens/abelha.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    min-height: 500px;
    max-height: 1000px;
    position: relative;
    
}

.artigoparagrafo1{

    position: absolute;
    max-width: 300px;


    bottom: 20%;
    font-size: 30px;
    
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    
}




.artigoparagrafo2{
    position: absolute;
   
    max-width: 300px;

    margin: 10px;
    font-size: 30px;
    
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
}
.section2{
    background-image: url(imagens/background002.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    min-height: 500px;
    max-height: 1000px;
}