*{margin: 0px;
padding: 0px;}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root{
    --fonte1: 'Verdana, Geneva, Tahoma,sans-serif';
    --fonte2:  'Passion One', cursive;
    --fonte3:  'Sriracha', cursive, bold;
    
}

html, body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    min-height: 40vh;

}

header > h1 {
    padding-top: 60px ;
    font-size: 8vw;
    
    font-family: var(--fonte2);
    font-style: bold;
    
}

header > h3{
    padding-bottom: 60px;
}

h3 > a{
 
    color: white;
}

h3 > a:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.432);

}

p{
    padding: 30px;
    font-size-adjust: 25px;
    font-family: var(--fonte3)
    
    
}

pre > p {
    white-space: pre-line;
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
    font-size: 4vw;
}

main > .parte1{
    margin-top: 10px;
    
    
    
}





main > .sectionimagem1{
    background-image: url(imagens/abelha.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    
    
   
   
   
    
}

.paragrafo1{
    display: inline-block;
 

   
    
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    line-height: 2em;
    
}


.sectionimagem2{
    background-image: url(imagens/background002.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.295);
    min-height: 500px;
    max-height: 2000px;
    
    
}

.paragrafo2{
    display: inline-block;
    
  
    
    
   
  

    
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    line-height: 2em;
}



footer{
    text-align: center;
    background-color: black;
    color: white;
   
}

footer > p {
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}